<!-- Header Carousel -->
<header>
<div class="jumbotron" style="color:white;">
  <center><h1><strong>S<i class="fa fa-smile-o"></i>US</strong>chef</h1></center>
</div>
</header>

<!-- Page Content -->

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading" style="background-color: #6699cc;">
                    <center><h4 style="color: white;"><i class="fa fa-heart-o fa-lg" style="color: red;"></i> Find Your Recipe</h4></center>
                </div>
                <div class="panel-body">
                    <p>Search our recipes to find exactly what you'd like to prepare. We always include new and different cuisines from your neighborhood and around the world.</p>
                    <p>Discover new dishes and unlock your inner chef to make your meals great again.</p>
                    <br>
                    <center><a href="/recipes" class="btn btn-default">Recipes</a></center>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading" style="background-color: #6699cc;">
                    <center><h4 style="color: white;"><i class="fa fa-list-ul fa-lg" style="color: white"></i> Make a Shopping List</h4></center>
                </div>
                <div class="panel-body">
                    <p>Once you found the recipe you'd like to prepare, simply drag the ingredients to your shopping list. Send the list to your phone, email or a family member.</p>
                    <p>You can even send it directly to a local grocery store for delivery.</p>
                    <br>
                    <center><a href="#" class="btn btn-default">Lists</a><center>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading" style="background-color: #6699cc;">
                    <center><h4 style="color: white;"><i class="fa fa-fire fa-lg" style="color: orange;"></i> Start Cooking</h4></center>
                </div>
                <div class="panel-body">
                    <p>Once you have all of your ingredients, we can start cooking! Follow the step by step instructions that will walk you through the preparation of your next incredible meal.</p>
                    <p>No need to worry, the built-in timer feature will keep track of everything</p>
                    <br>
                    <center><a href="#" class="btn btn-default">Timers</a></center>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Section -->
    <div class="row" style="background-color:#f2f2f2; padding: 0 20px 40px 20px; border-top: 1px solid #6699cc; border-bottom: 1px solid #6699cc;">
        <div class="col-lg-12">
            <center><h1 class="page-header"><i class="fa fa-cutlery"></i> | Master Your Kitchen</h1></center>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="https://static.pexels.com/photos/9350/salad-restaurant-tomatoes-kitchen-medium.jpg" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="https://static.pexels.com/photos/89238/pexels-photo-89238-medium.png" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="https://static.pexels.com/photos/14737/pexels-photo-medium.jpg" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="https://static.pexels.com/photos/111212/pexels-photo-111212-medium.jpeg" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="https://static.pexels.com/photos/92670/pexels-photo-92670-medium.jpeg" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="https://static.pexels.com/photos/27642/pexels-photo-27642-medium.jpg" alt="">
            </a>
        </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-12">
            <center><h2 class="page-header"><i class="fa fa-user" style="color: #6699cc;"></i>  | Join Our Community and Get Started Today</h2></center>
        </div>
        <div class="col-md-6">
            <h3><strong>What Are You Waiting For? Let's Get Cooking!</strong></h3>
            <ul>
                <li><i class="fa fa-check-circle fa-lg" style="color: #6699cc;"></i> explore recipes</li>
                <li><i class="fa fa-check-circle fa-lg" style="color: #6699cc;"></i> save ingredient lists</li>
                <li><i class="fa fa-check-circle fa-lg" style="color: #6699cc;"></i> go shopping</li>
                <li><i class="fa fa-check-circle fa-lg" style="color: #6699cc;"></i> cook an incredible meal</li>
                <li><i class="fa fa-check-circle fa-lg" style="color: #6699cc;"></i><strong> enjoy and repeat</strong></li>
            </ul>
            <div class="steps">
            <center><h3>Once you have all of your ingredients ready to go, we can start cooking!</h3><hr>
            <h3>The step by step instructions will walk you through preparing your next incredible meal.</h3><hr>
            <h3>The built-in timer feature will keep track of everything.</h3></center>
            </div>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="https://static.pexels.com/photos/5938/food-salad-healthy-lunch-medium.jpg" alt="">
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="well">
        <div class="row">
            <div class="col-md-8">
                <p>Still not sure where to start? We're here to help, just shoot us an email and a member of our support team will guide through every step of the way.</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-block" style="color: white; background-color: #6699cc;" href="#">Contact Us</a>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <center><p>&copy; Copyright <strong>S<i class="fa fa-smile-o"></i>US</strong>chef 2016</p></center>
            </div>
        </div>
    </footer>

<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Script to Activate the Carousel -->
<script>
$('.carousel').carousel({
    interval: 5000 //changes the speed
})
</script>