<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('https://static.pexels.com/photos/8717/food-pot-kitchen-cooking-medium.jpg');"></div>
            <div class="carousel-caption">
                <h2>Caption 1</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
            <div class="carousel-caption">
                <h2>Caption 2</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
            <div class="carousel-caption">
                <h2>Caption 3</h2>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>

<!-- Page Content -->
<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <center><h1 class="page-header">
                <strong>S&#9786;USchef</strong>
            </h1></center>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <center><h4><i class="fa fa-heart-o"></i> Find Your Recipe</h4></center>
                </div>
                <div class="panel-body">
                    <p>Search our recipes to find exactly what you'd like to prepare. We always include new and different cuisines from around the world. Discover new dishes and unlock your inner chef to make your meals great again.</p>
                    <center><a href="#" class="btn btn-default">Learn More</a></center>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <center><h4><i class="fa fa-list-ul"></i> Make a Shopping List</h4></center>
                </div>
                <div class="panel-body">
                    <p>Once you found the recipe you'd like to prepare, simply drag the ingredients to your shopping list. Send the list to your phone, email or a family member. You can even send it directly to a local grocery store for delivery.</p>
                    <center><a href="#" class="btn btn-default">Learn More</a><center>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <center><h4><i class="fa fa-fire"></i> Start Cooking</h4></center>
                </div>
                <div class="panel-body">
                    <p>Once you have all of your ingredients, we can start cooking! Follow the step by step instructions that will walk you through the preparation of your next incredible meal. No need to worry, the built-in timer feature will keep track of everything</p>
                    <center><a href="#" class="btn btn-default">Learn More</a></center>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Section -->
    <div class="row">
        <div class="col-lg-12">
            <center><h2 class="page-header">|  master your kitchen  |</h2></center>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="https://static.pexels.com/photos/9350/salad-restaurant-tomatoes-kitchen-medium.jpg" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="https://static.pexels.com/photos/89238/pexels-photo-89238-medium.png" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="https://static.pexels.com/photos/14737/pexels-photo-medium.jpg" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="https://static.pexels.com/photos/111212/pexels-photo-111212-medium.jpeg" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="https://static.pexels.com/photos/92670/pexels-photo-92670-medium.jpeg" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="https://static.pexels.com/photos/27642/pexels-photo-27642-medium.jpg" alt="">
            </a>
        </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Get Started Today...</h2>
        </div>
        <div class="col-md-6">
            <p><strong>What Are You Waiting For? Let's Get Cooking!:</strong></p>
            <ul>
                <li>explore recipes</li>
                <li>save ingredient lists</li>
                <li>go shopping</li>
                <li>cook an incredible meal</li>
                <li>enjoy and <strong>repeat</strong></li>
            </ul>
            <p>Once you have all of your ingredients ready to go, we can start cooking! Follow the step by step instructions that will walk you through the preparation of your next incredible meal. No need to worry, the built-in timer feature will keep track of everything.</p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="https://static.pexels.com/photos/5938/food-salad-healthy-lunch-medium.jpg" alt="">
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="well">
        <div class="row">
            <div class="col-md-8">
                <p>Still not sure where to start? We're here to help, just shoot us an email and a member of our support team will guide through every step of the way.</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-info btn-block" href="#">Contact Us</a>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <center><p>Copyright &copy; SOUSchef 2016</p></center>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Script to Activate the Carousel -->
<script>
$('.carousel').carousel({
    interval: 5000 //changes the speed
})
</script>